django-admin-rangefilter==0.8.3
django-cors-headers==3.7.0
django-csp==3.7
django-environ==0.4.5
django-rest-registration==0.6.3
django-tenant-schemas==1.10.0
django-tenants==3.3.2
Django==3.2.4
djangorestframework-simplejwt==4.7.1
djangorestframework==3.12.2
mysqlclient==2.1.0
